// COLORS
$white: #ffffff;
$black: #000000;
$purple: #643B81;
$purple-light: #BF579F;
$blue: #19D1CD;
$orange-dark: #F8993A;
$orange: #ff8900;
$orange-light: #FFBA00;
$rose: #ED0A6E;
$gray: #4c4c4c;
$gray-dark: #4d4d4d;
$gray-medium: #636363;